<!--navbar-->
<div class="container">
    <div class="navbar-header">
        <a ng-if="!isAuthenticated()" href="#/" class="navbar-brand">Issue Tracking System</a>
		<a ng-if="isAuthenticated()" href="#/profile" class="navbar-brand">
			<i class="fa fa-user" aria-hidden="true"></i>
			<span class="red">{{username}}</span>
		</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div ng-if="isAuthenticated()" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
			<li>
				<a href="#/">Dashboard</a>
			</li>
            <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="" id="download">
					<i class="fa fa-cogs" aria-hidden="true"></i><span ng-if="isAdmin()"> Admin</span> Settings <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="download">
					<li><a href="#/profile">Edit User Profile</a></li>
					<li><a href="#/profile/password">Change User Password</a></li>
					<li class="divider"></li>
					<li ng-if="isAdmin()"><a href="#/admin/makeAdmin">Make Admin</a></li>
					<li ng-if="isAdmin()"><a href="#/admin/users/all">All Users</a></li>
					<li class="divider"></li>
					<li ng-if="isAdmin()"><a href="#/projects">All Projects</a></li>
					<li ng-if="isAdmin()"><a href="#/projects/add">Add New Project</a></li>
				</ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/logout"><strong>Logout</strong></a></li>
        </ul>
    </div>
</div>