<!--issues in current project-->
<h3>Issues in this project: <span class="blue">{{issuesCount}}</span></h3>
<div class="col-md-12">
	<!-- using directive hideElement-->
	<button hide-element class="btn btn-success" ng-click="getIssuesByProjectId()">Get Project's Issues</button>
</div>
<!--filters-->
<div id="issues-filters">
	<div class="col-md-3">
		<div class="form-group">
			<label for="searchIssueInCurrProjectByTitle">Search issue by Title:</label>
			<div class="inner-addon left-addon">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" ng-model="search.Title" 
					id="searchIssueInCurrProjectByTitle"
					placeholder="Issue Title"
					class="form-control">
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="searchIssueInCurrProjectByAuthor">Search issue by Author:</label>
			<div class="inner-addon left-addon">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" ng-model="search.Author.Username" 
					id="searchIssueInCurrProjectByAuthor"
					placeholder="Author Username"
					class="form-control">
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="searchIssueInCurrProjectByAssignee">Search issue by Assignee:</label>
			<div class="inner-addon left-addon">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" ng-model="search.Assignee.Username" 
					id="searchIssueInCurrProjectByAssignee"
					placeholder="Assignee Username"
					class="form-control">
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="searchIssueInCurrProjectByStatus">Search issue by Status:</label>
			<div class="inner-addon left-addon">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" ng-model="search.Status.Name" 
					id="searchIssueInCurrProjectByStatus"
					placeholder="Status Name"
					class="form-control">
			</div>
		</div>
	</div>
</div>
<!--end filters-->
<!--issues data-->
<p ng-show="issuesInProject.length" class="important">
	Sort issues by clicking on <strong>Title</strong>,
	<strong>Description</strong>, <strong>Due Date</strong>,
	<strong>Author</strong>, <strong>Assignee</strong> or <strong>Status</strong>
</p>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th width="18%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top" 
					data-trigger="focus"
					data-content="Oder By Title"
					ng-click="orderByKey('Title')">
						Title
				</button>
			</th>
			<th width="30%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top" 
					data-trigger="focus"
					data-content="Oder By Description"
					ng-click="orderByKey('Description')">
						Description
				</button>
			</th>
			<th width="8%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top"
					data-trigger="focus"
					data-content="Oder By DueDate"
					ng-click="orderByKey('DueDate')">
						Due Date
				</button>
			</th>
			<th width="15%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top"
					data-trigger="focus"
					data-content="Oder By Author Username"
					ng-click="orderByKey('Author.Username')">
						Author
				</button>
			</th>
			<th width="15%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top"
					data-trigger="focus"
					data-content="Oder By Assignee Username"
					ng-click="orderByKey('Assignee.Username')">
							Assignee
				</button>
			</th>
			<th width="9%">
				<button popover class="btn btn-default" 
					data-container="body" 
					data-toggle="popover" 
					data-placement="top"
					data-trigger="focus"
					data-content="Oder By Status Name"
					ng-click="orderByKey('Status.Name')">
						Status
				</button>
			</th>
			<th width="5%">Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="issue in issuesInProject | orderBy: keyOrder | filter:search">
			<td width="18%"><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
			<td width="30%">{{issue.Description}}</td>
			<td width="8%">{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
			<td width="15%">{{issue.Author.Username}}</td>
			<td width="15%">{{issue.Assignee.Username}}</td>
			<td width="9%">{{issue.Status.Name}}</td>
			<td width="5%">
				<a ng-href="#/issues/{{issue.Id}}/edit" ng-if="isAdmin() || isLeader">
					<i class="fa fa-pencil-square-o blue" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>