<!--make admin page-->
<!--error message-->
<div class="row text-center" ng-if="!isAdmin()" ng-include="'app/common/partial/admin-warning-msg.html'"></div>
<!--end error message-->
<div class="row" ng-if="isAdmin()">
	<div class="col-md-6 col-md-offset-1">
		<h2>Make Admin</h2>
		<form name="makeAdminForm">
			<div class="form-group">
				<label for="search-user">Search user by username:</label>
				<input type="text" ng-model="user.Username" id="search-user" class="form-control">
			</div>
			<div class="form-group">
				<label for="user-id">Select User<span class="red">*</span></label>
				<select ng-model="user.userId" id="user-id" required="required" class="form-control">
					<option ng-repeat="user in users | orderBy: 'Username' | filter: 'isAdmin'==false | filter: user.Username"  value="{{user.Id}}">
						{{user.Username}} - isAdmin: {{user.isAdmin}}
					</option>
				</select>
			</div>
			<button type="submit" class="btn btn-success" 
				ng-disabled="makeAdminForm.$invalid" 
				ng-click="makeAdmin(user)">
					Make Admin
			</button>
		</form>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<h2>All Admins</h2>
		<ul class="list-unstyled">
			<li ng-repeat="admin in users | orderBy: 'Username' | filter: 'isAdmin'!=false">
				<strong>{{admin.Username}}</strong><em> - isAdmin: {{admin.isAdmin}}</em>
			</li>
		</ul>
	</div>
</div>