/* app css stylesheet */
body{
	margin-top: 80px;
	font-family: "Open sans", cursiv;
	font-size: 16px;
	color: #333;
}

h2{
	padding-bottom: 10px;
	text-align: center;
	border-bottom: dashed 1px #999;
}

div, td, li, p, a{
	word-break: break-all;
}

.navbar > .container{
	margin-bottom: 10px;
	background-color: #EEE;
	box-shadow: 2px 3px 12px #333;
}

.row, .form-control, .navbar{
	box-shadow: 2px 3px 12px #333;
}

.navbar-header, .navbar-right li{
	box-shadow: 2px 3px 10px #333;
	padding: 3px;
	margin-right: 10px;
}

.navbar-header:hover, .nav li:hover{
	background-color: #fff;
}

/* style input icon and select icon */
.inner-addon { 
    position: relative; 
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  color: #999;
  pointer-events: none;
}

.left-addon .fa  {
	left:  0px;
}

.right-addon .fa {
	right: 0px;
}

.left-addon input, .left-addon  select{
	padding-left:  30px; 
}

.right-addon input, .right-addon select{
	padding-right: 30px; 
}
/* end */

#loading-bar-container{
	color: lightblue;
	text-shadow: 0 2px 4px blue;
}

#project-info{
	padding-bottom: 20px;
	border-bottom: dashed 1px #333;
}

button, .btn-success{
	background-color: #333;
	color: #fff;
	margin: 10px;
}

button, .btn-success:hover{
	background: #fff;
	color: #333;
}

.warning{
	color: red;
	font-size: 140px;
}

.red{
	color: red;
	font-size: 20px;
}

.blue{
	font-size: 23px;
}

.my-issues-table th, .my-issues-table td{
	width: 25%;
}

.project-table th, .project-table td{
	width: 16.6%;
	text-align: center;
}

.issue-table th, .issue-table td{
	width: 10%;
}

.style-select{
	width: 100%;
	padding: 3px;
	border-radius: 5px;
}