<!--error message-->
<div class="row text-center" ng-if="!isAdmin()" ng-include="'app/common/partial/admin-warning-msg.html'"></div>
<!--end error message-->
<!--make admin page-->
<div class="row" ng-if="isAdmin()">
	<div class="col-md-8 col-md-offset-2">
		<h2>Make Admin</h2>
		<form name="makeAdminForm">
			<div class="form-group">
				<label for="searchUserToMakeAdmin">Search user by filter: "Username"<span class="important">*</span>:</label>
				<div class="inner-addon left-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="search" ng-model="user.Username"
						ng-pattern="/^[a-zA-Z\u0400-\u04ff0-9._-]+@[a-zA-Z\u0400-\u04ff0-9.-]+\.[a-zA-Z\u0400-\u04ff]{2,4}$/i"
						id="searchUserToMakeAdmin" 
						name="searchUserToMakeAdmin"
						required="required"
						placeholder="userЮзър@userЮзър.bgбг"
						class="form-control">
				</div>
				<p class="important" ng-show="makeAdminForm.searchUserToMakeAdmin.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i>Search By Username is required!</small>
				</p>
				<p class="important" ng-show="makeAdminForm.searchUserToMakeAdmin!=false &&
					makeAdminForm.searchUserToMakeAdmin.$invalid &&
					makeAdminForm.searchUserToMakeAdmin.$dirty">
						<small>Invalid Username</small>
				</p>
			</div>
			<div class="col-md-12">
				<button class="btn btn-success" 
					ng-disabled="makeAdminForm.searchUserToMakeAdmin.$invalid" 
					ng-click="getUserToMakeAdmin(user.Username)">
						Get User By Filter
				</button>
			</div>
			<div class="form-group">
				<label for="userToMakeAdmin">Select User To make admin<span class="important">*</span></label>
				<div class="inner-addon left-addon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<select ng-model="userToMakeAdmin.userId" 
						id="userToMakeAdmin" 
						name="userToMakeAdmin" 
						class="form-control">
							<option value="{{userToMakeAdmin.Id}}" selected="selected">
								{{userToMakeAdmin.Username}}
							</option>
					</select>
				</div>
				<p class="important" ng-show="!userToMakeAdmin || userToMakeAdmin.isAdmin===true">
					<small><i class="fa fa-exclamation-triangle"></i>You must select a user who is not an Аdmin!</small>
				</p>
			</div>
			<button type="submit" class="btn btn-success" 
				ng-disabled="!userToMakeAdmin || userToMakeAdmin.isAdmin===true" 
				ng-click="makeAdmin(userToMakeAdmin)">
					Make Admin
			</button>
		</form>
	</div>
	<!--end make admin-->
</div>