<div class="jumbotron">
	<div class="row text-center">
		<div class="col-md-6">
			<button class="btn btn-success">Dashboard</button>
			<h2>Dashboard</h2>
		</div>	
		<div class="col-md-6">
			<button class="btn btn-success">Projects</button>
			<h2>Affiliated projects</h2>
		</div>
		<h4><a href="">entirely new project</a></h4>
		<br/>
		<table class="table table-hover table-bordered">
			<thead>
			  <tr>
				<th>Title</th>
				<th>Description</th>
				<th>Project</th>
				<th>Due date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>problem 1</td>
				<td>na red 12</td>
				<td>entirely new project</td>
				<td>11.04.2016</td>
			  </tr>
			</tbody>
	  <table>
	</div>
</div>