<!--project info-->
<div class="text-center">
	<p><a href="#/projects/{{project.Id}}/add-issue"><strong>Add New Issue In This Project</strong></a></p>
</div>
<ul>
	<li><strong>Id:</strong> <em>{{project.Id}}</em></li>
	<li><strong>Name:</strong> <em>{{project.Name}}</em></li>
	<li><strong>Project Key:</strong> <em>{{project.ProjectKey}}</em></li>
	<li><strong>Description:</strong> <em>{{project.Description}}</em></li>
	<li><strong>Lead:</strong> 
		<ul>
			<li><strong>Username:</strong> <em>{{project.Lead.Username}}</em></li>
			<li><strong>isAdmin:</strong> <em>{{project.Lead.isAdmin}}</em></li>
		</ul>
	</li>
	<li><strong>Transition Scheme Id:</strong> <em>{{project.TransitionSchemeId}}</em></li>
</ul>
<div class="col-md-4" id="project-labels">
	<select class="form-control">
		<option>Labels:</option>
		<option ng-repeat="label in project.Labels">#{{label.Name}}</option>
	</select>
</div>
<div class="col-md-4" id="project-priorities">
	<select class="form-control">
		<option>Priorities:</option>
		<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
	</select>
</div>
