<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Edit Project</h2>
		<form name="editProjectForm">
			<div class="form-group">
				<label for="editedProjectName">Project Name<span class="red">*</span></label>
				<input type="text" ng-model="editedProject.Name" 
					id="editedProjectName" 
					name="editedProjectName"
					required="required"
					ng-minlength="3"
					ng-maxlength="50"
					placeholder="[Min-length: 3] [Max-length: 50]"
					class="form-control"/>
				<p class="red" ng-show="editProjectForm.editedProjectName.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Project Name is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="editProjectForm.editedProjectName.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedProjectName.$error.maxlength">
						<small>[Max-length: 50 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="editedProjectKey">Project Key<span class="red">*</span></label>
				<input type="text" ng-model="editedProject.ProjectKey" 
					id="editedProjectKey"
					name="projectKey"
					required="required"
					ng-minlength="1"
					ng-maxlength="100"
					placeholder="[Min-length: 1] [Max-length: 100]"
					class="form-control"/>
				<p class="red" ng-show="editProjectForm.editedProjectKey.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Project Key is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="editProjectForm.editedProjectKey.$error.minlength">
						<small>[Min-length: 1 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedProjectKey.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="editedLeader">Leader<span class="red">*</span></label>
				<p>Curent leader is: <strong>{{project.Lead.Username}}</strong></p>
				<p>To change the leader search user by Username:</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
					<select ng-model="editedProject.LeadId" id="editedLeader" name="editedLeadId" class="form-control">
						<option  ng-repeat="user in usersForLeader | orderBy: 'Username'" value="{{user.Id}}">{{user.Username}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="editedDescription">Description<span class="red">*</span></label>
				<textarea type="text" ng-model="editedProject.Description" rows="5"
					id="description"
					name="editedDescription"
					required="required"
					ng-minlength="3"
					ng-maxlength="1000"
					placeholder="[Min-length: 3] [Max-length: 100]"
					class="form-control"></textarea>
				<p class="red" ng-show="editProjectForm.editedDescription.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Description is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="editProjectForm.editedDescription.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedDescription.$error.maxlength">
						<small>[Max-length: 1000 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="editedPriorities">Priorities <span class="red">*</span></label>
				<p>Add new priorities separated by a dot-comma and an white-space:</p>
				<p class="red">[priority1; priority2; ...]</p>
				<input type="text" ng-model="editedProject.Priorities" 
					id="editedPriorities "
					name="editedPriorities"
					required="required"
					ng-minlength="3"
					ng-maxlength="100"
					placeholder="[Min-length: 3] [Max-length: 100]"
					class="form-control"/>
				<p class="red" ng-show="editProjectForm.editedPriorities.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Priorities is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="editProjectForm.editedPriorities.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedPriorities.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="editedLabels">Labels</label>
				<p>Add labels separated by a dot-comma and an white-space:</p>
				<p class="red">[label1; label2; ...]</p>
				<input type="text" ng-model="editedProject.Labels" 
					id="editedLabels"
					name="editedLabels"					
					ng-minlength="3"
					placeholder="[Min-length: 3]"
					class="form-control"/>
				<div role="alert">
					<span class="red" ng-show="editProjectForm.editedLabels.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
				</div>
			</div>
			<button type="submit" class="btn btn-success" 
				ng-disabled="editProjectForm.$invalid" 
				ng-click="editProject(editedProject)">
					Edit Project
			</button>
		</form>
	</div>
</div>