<!--projects-->
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-success" ng-click="getProjects()">List Projects</button>
		<a href="#/projects/add">Add New Project</a>
		<h2>All Projects</h2>
		<div id="projects-filters">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Name:</label>
					<input type="text" ng-model="project.Name" id="search-project-by-name" class="form-control">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Leader Username:</label>
					<input type="text" ng-model="project.Lead.Username" id="search-project-by-leader" class="form-control">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Labels:</label>
					<input type="text" ng-model="project.Labels.Name" 
						id="search-project-by-labels"  
						class="form-control">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Priorities:</label>
					<input type="text" ng-model="project.Priorities.Name" 
						id="search-project-by-priorities"  
						class="form-control">
				</div>
			</div>
		</div>
		<table class="table table-hover table-bordered project-table">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Name</th>
				<th>Project Key</th>
				<th>Description</th>
				<th>Leader Username</th>
				<th>Transition Scheme Id</th>
				<th>Labels</th>
				<th>Priorities</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="project in projects | filter:project.Name | filter:project.Lead.Username |
				filter:project.Labels.Name | filter:project.Priorities.Name">
				<td>{{project.Id}}</td>
				<td><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
				<td>{{project.ProjectKey}}</td>
				<td>{{project.Description}}</td>
				<td>{{project.Lead.Username}}</td>
				<td>{{project.TransitionSchemeId}}</td>
				<td>
					<select>
						<option ng-repeat="label in project.Labels">{{label.Name}}</option>
					</select>
				</td>
				<td>
					<select>
						<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
					</select>
				</td>
			  </tr>
			</tbody>
	  </table>
	</div>
</div>