<!--projects-->
<div class="row">
	<div class="col-md-12">
		<h2>All Projects</h2>
		<p class="text-center"><a href="#/projects/add">Add New Project</a></p>
		<div id="projects-filters">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Project Name:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Name" id="search-project-by-name" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Leader Username:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Lead.Username" id="search-project-by-leader" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Labels:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Labels.Name" 
							id="search-project-by-labels"  
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Priorities:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Priorities.Name" 
							id="search-project-by-priorities"  
							class="form-control">
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-success" ng-click="getProjects()">Get Projects</button>
		<table class="table table-hover table-bordered project-table">
			<thead>
			  <tr>
				<th>Details</th>
				<th>Name</th>
				<th>Description</th>
				<th>Leader</th>
				<th>Labels</th>
				<th>Priorities</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="project in projects | filter:project.Name | filter:project.Lead.Username |
				filter:project.Labels.Name | filter:project.Priorities.Name">
				<td><a href="#/projects/{{project.Id}}" class="red"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
				<td>{{project.Name}}</td>
				<td>{{project.Description}}</td>
				<td><a href="#/profile/{{project.Lead.Username}}">{{project.Lead.Username}}</a></td>
				<td>
					<div class="inner-addon left-addon">
						<i class="fa fa-tags" aria-hidden="true"></i>
						<select class="style-select">
							<option></option>
							<option ng-repeat="label in project.Labels">{{label.Name}}</option>
						</select>
					</div>
				</td>
				<td>
					<div class="inner-addon left-addon">
						<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						<select class="style-select">
							<option></option>
							<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
						</select>
					</div>
				</td>
			  </tr>
			</tbody>
	  </table>
	</div>
</div>