<!--add project page-->
<!--error message-->
<div class="row text-center" ng-if="!isAdmin()" ng-include="'app/common/partial/admin-warning-msg.html'"></div>
<!--end error message-->
<!--add project form-->
<div ng-if="isAdmin()" class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Add New Project</h2>
		<form name="addProjectForm">
			<div class="form-group">
				<label for="name">Project Name<span class="important">*</span></label>
				<input type="text" ng-model="project.Name" 
					id="name" 
					name="projectName"
					required="required"
					ng-minlength="3"
					ng-maxlength="50"
					placeholder="[Min-length: 3] [Max-length: 50]"
					class="form-control"/>
				<p class="important" ng-show="addProjectForm.projectName.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Project Name is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="addProjectForm.projectName.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="addProjectForm.projectName.$error.maxlength">
						<small>[Max-length: 50 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="project-key">Project Key<span class="important">*</span></label>
				<div class="inner-addon left-addon">
					<i class="fa fa-key" aria-hidden="true"></i>
					<input type="text" ng-model="project.ProjectKey" 
						id="project-key"
						name="projectKey"
						required="required"
						ng-minlength="6"
						ng-maxlength="100"
						placeholder="[Min-length: 6] [Max-length: 100]"
						class="form-control"/>
				</div>
				<p class="important" ng-show="addProjectForm.projectKey.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Project Key is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="addProjectForm.projectKey.$error.minlength">
						<small>[Min-length: 6 simbols]</small>
					</span>
					<span class="error" ng-show="addProjectForm.projectKey.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<!--get users to make a Leader-->
			<div class="form-group">
				<h3>Add Leader:</h3>
				<label for="searchToAddLeader">Search user by filter: "Username"<span class="important">*</span>:</label>
				<div class="inner-addon left-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="search" ng-model="addLeader.Username" 
						id="searchToAddLeader" 
						name="searchToAddLeader"
						placeholder="Leader Username"
						class="form-control">
				</div>
			</div>
			<div class="col-md-12">
				<button class="btn btn-warning" 
					ng-disabled="!addLeader" 
					ng-click="getAllUsersToMakeLeaderOrAssignee()">
					Get Users By Filter
				</button>
			</div>
			<div class="form-group">
				<label for="leader">Select Leader<span class="important">*</span></label>
				<p>
					To add Leader: First Get Users By Filter, then select one 
					<i class="fa fa-hand-o-down" aria-hidden="true"></i>
				</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<select ng-model="project.LeadId" 
						id="newLeader" 
						name="newLeadId" 
						required="required" 
						class="form-control">
							<option  ng-repeat="user in usersForLeader | orderBy: 'Username' | filter: addLeader"
								value="{{user.Id}}">{{user.Username}}
							</option>
					</select>
				</div>
				<p class="important" ng-show="addProjectForm.newLeadId.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Leader is required!</small>
				</p>
			</div>
			<!--end-->
			<div class="form-group">
				<label for="description">Description<span class="important">*</span></label>
				<div class="inner-addon left-addon">
					<i class="fa fa-pencil-square" aria-hidden="true"></i>
					<textarea type="text" ng-model="project.Description" rows="5"
						id="description"
						name="description"
						required="required"
						ng-minlength="3"
						ng-maxlength="1000"
						placeholder="[Min-length: 3] [Max-length: 100]"
						class="form-control"></textarea>
				</div>
				<p class="important" ng-show="addProjectForm.description.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Description is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="addProjectForm.description.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="addProjectForm.description.$error.maxlength">
						<small>[Max-length: 1000 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="priorities">Priorities <span class="important">*</span></label>
				<p>Add priorities separated by a dot-comma and an white-space :</p>
				<p class="important">[priority1; priority2; ...]</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
					<input type="text" ng-model="project.Priorities" 
						id="priorities "
						name="priorities"
						required="required"
						ng-minlength="3"
						ng-maxlength="100"
						placeholder="[Min-length: 3] [Max-length: 100]"
						class="form-control"/>
				</div>
				<p class="important" ng-show="addProjectForm.priorities.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Priorities is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="addProjectForm.priorities.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="addProjectForm.priorities.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<!--Labels-->
				<h3>Labels</h3>
			<div class="form-group">
				<label for="labels">Add Labels</label>
				<p>Add new labels separated by a dot-comma:</p>
				<p class="important">[label1; label2;...]</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-tags" aria-hidden="true"></i>
					<input type="text" ng-model="project.Labels" 
						id="labels"
						name="labels"					
						ng-minlength="3"
						placeholder="[Min-length: 3]"
						class="form-control"/>
				</div>
				<div role="alert">
					<span class="important" ng-show="addProjectForm.labels.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
				</div>
			</div>
			<!--end labels-->
			<button type="submit" class="btn btn-success" 
				ng-disabled="addProjectForm.$invalid" 
				ng-click="addProject(project)">
					Add New Project
			</button>
		</form>
	</div>
</div>