<!--error message-->
<div class="row text-center" ng-if="!isAdmin()" ng-include="'app/common/partial/admin-warning-msg.html'"></div>
<!--end error message-->
<!--all projects-->
<div class="row" ng-if="isAdmin()">
	<h2>All Projects Total Count: <span class="blue">{{totalCount}}</span></h2>
	<p class="text-center"><a href="#/projects/add">Add New Project</a></p>
	<!--using custom directive 'hideElement'-->
	<button ng-if="!projects.length || projects.length > allProjectsPaginationPageSize" 
		class="btn btn-success" 
		ng-click="getAllProjects(3, 1)"><!--First: I get 3 projects on a page and find Projects TotalCount-->
			Get All Projects
	</button>
	<button hide-element ng-if="projects.length && projects.length === allProjectsPaginationPageSize"
		class="btn btn-warning" 
		ng-click="getAllProjects(totalCount, 1)"><!--Then: Use Projects TotalCount to get all projects on a page-->
			Search Projects By Filters
	</button>
	<div class="col-md-12" ng-show="projects.length">
		<!--projects filters-->
		<div id="allProjectsFilters" ng-show="projects.length > allProjectsPaginationPageSize">
			<div class="col-md-3">
				<div class="form-group">
					<label for="searchAllProjectsByName">Search project by Project Name:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="searchAllProjects.Name" 
							id="searchAllProjectsByName"
							placeholder="Project Name"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="searchAllProjectsByLeader">Search project by Leader Username:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="searchAllProjects.Lead.Username" 
							id="searchAllProjectsByLeader"
							placeholder="Leader Username"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="searchAllProjectsByLabel">Search project by Labels:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="searchAllProjects.Labels.Name" 
							id="searchAllProjectsByLabel"
							placeholder="Label Name"
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="searchAllProjectsByPriority">Search project by Priorities:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="searchAllProjects.Priorities.Name" 
							id="searchAllProjectsByPriority"
							placeholder="Priority Name"
							class="form-control">
					</div>
				</div>
			</div>
		</div>
		<!--end projects filters-->
		<p ng-show="projects.length > allProjectsPaginationPageSize" class="col-md-12 important">
			Sort projects by clicking on <strong>Name</strong>,
			<strong>Description</strong>, <strong>Leader</strong>,
			<strong>Labels</strong> or <strong>Priorities</strong>
		</p>
		<!--all projects pagination-->
		<div class="col-md-4 col-md-offset-4 text-center" ng-show="projects.length === allProjectsPaginationPageSize" id="projectsPagination">
			<span>
				<button ng-show="allProjectsCurPage > 1" 
				  ng-click="getAllProjects(allProjectsPaginationPageSize, allProjectsCurPage-1)">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				</button>
			</span>
			<span>Page {{allProjectsCurPage}} of {{ allProjectsNumberOfPages() }}</span>
			<span>
				<button ng-show="allProjectsCurPage < allProjectsNumberOfPages()" 
				  ng-click="getAllProjects(allProjectsPaginationPageSize, allProjectsCurPage+1)">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</button>
			</span>
		</div>
		<!--end pagination-->
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="7%">Details</th>
					<th width="15%"><span ng-show="projects.length === allProjectsPaginationPageSize">Name</span>
						<button ng-show="projects.length > allProjectsPaginationPageSize" popover class="btn btn-default" 
							data-container="body" 
							data-toggle="popover" 
							data-placement="top" 
							data-trigger="focus"
							data-content="Oder By Name"
							ng-click="orderByKey('Name')">
								Name
						</button>
					</th>
					<th width="28%"><span ng-show="projects.length === allProjectsPaginationPageSize">Description</span>
						<button ng-show="projects.length > allProjectsPaginationPageSize" popover class="btn btn-default" 
							data-container="body" 
							data-toggle="popover" 
							data-placement="top" 
							data-trigger="focus"
							data-content="Oder By Description"
							ng-click="orderByKey('Description')">
								Description
						</button>
					</th>
					<th width="20%"><span ng-show="projects.length=== allProjectsPaginationPageSize">Leader</span>
						<button ng-show="projects.length > allProjectsPaginationPageSize" popover class="btn btn-default" 
							data-container="body" 
							data-toggle="popover" 
							data-placement="top" 
							data-trigger="focus"
							data-content="Oder By Leader Name"
							ng-click="orderByKey('Lead.Name')">
								Leader
						</button>
					</th>
					<th width="15%"><span ng-show="projects.length === allProjectsPaginationPageSize">Labels</span>
						<button ng-show="projects.length > allProjectsPaginationPageSize" popover class="btn btn-default" 
							data-container="body" 
							data-toggle="popover" 
							data-placement="top" 
							data-trigger="focus"
							data-content="Oder By Label Name"
							ng-click="orderByKey('Label.Name')">
								Labels
						</button>
					</th>
					<th width="15%"><span ng-show="projects.length === allProjectsPaginationPageSize">Priorities</span>
						<button ng-show="projects.length > allProjectsPaginationPageSize" popover class="btn btn-default" 
							data-container="body" 
							data-toggle="popover" 
							data-placement="top" 
							data-trigger="focus"
							data-content="Oder By Priorities Name"
							ng-click="orderByKey('Priorities.Name')">
								Priorities
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="projects.length > allProjectsPaginationPageSize" 
					ng-repeat="project in projects | orderBy: keyOrder | filter:searchAllProjects">
					<td width="7%">
						<a href="#/projects/{{project.Id}}" class="blue">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
						</a>
					</td>
					<td width="15%">{{project.Name}}</td>
					<td width="28%">{{project.Description}}</td>
					<td width="20%">
						<a href="#/admin/users/{{project.Lead.Username}}/info">{{project.Lead.Username}}</a>
					</td>
					<td width="15%">
						<p>Count: {{project.Labels.length}}</p>
						<div class="inner-addon left-addon">
							<i class="fa fa-tags" aria-hidden="true"></i>
							<select class="style-select">
								<option></option>
								<option ng-repeat="label in project.Labels">{{label.Name}}</option>
							</select>
						</div>
					</td>
					<td width="15%">
						<p>Count: {{project.Priorities.length}}</p>
						<div class="inner-addon left-addon">
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
							<select class="style-select">
								<option></option>
								<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
							</select>
						</div>
					</td>
				</tr>
				<tr ng-show="projects.length === allProjectsPaginationPageSize" ng-repeat="project in projects | orderBy: keyOrder">
					<td width="7%">
						<a href="#/projects/{{project.Id}}" class="blue">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
						</a>
					</td>
					<td width="15%">{{project.Name}}</td>
					<td width="28%">{{project.Description}}</td>
					<td width="20%">
						<a href="#/admin/users/{{project.Lead.Username}}/info">{{project.Lead.Username}}</a>
					</td>
					<td width="15%">
						<p>Count: {{project.Labels.length}}</p>
						<div class="inner-addon left-addon">
							<i class="fa fa-tags" aria-hidden="true"></i>
							<select class="style-select">
								<option></option>
								<option ng-repeat="label in project.Labels">{{label.Name}}</option>
							</select>
						</div>
					</td>
					<td width="15%">
						<p>Count: {{project.Priorities.length}}</p>
						<div class="inner-addon left-addon">
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
							<select class="style-select">
								<option></option>
								<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
							</select>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>