<!--error message-->
<div class="row text-center" ng-if="!isAdmin()" ng-include="'app/common/partial/admin-warning-msg.html'"></div>
<!--end error message-->
<!--projects-->
<div class="row" ng-if="isAdmin()">
	<div class="col-md-12">
		<h2>All Projects Total Count: <span class="blue">{{totalCount}}</span></h2>
		<p class="text-center"><a href="#/projects/add">Add New Project</a></p>
		<!--using custom directive 'hideElement'-->
		<button hide-element ng-if="projects.length||projects.length===3"
			class="btn btn-success" 
			ng-click="getAllProjects(500, 1)">
				Search Projects By Filters
		</button>
		<button ng-if="!projects.length||projects.length>3" 
			class="btn btn-success" 
			ng-click="getAllProjects(3, 1)" 
			ng-model="allProjects">
				Get All Projects
		</button>
		<!--projects filters-->
		<div id="projects-filters" ng-show="projects.length>10">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Project Name:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="project.Name" 
							id="search-project-by-name" 
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Leader Username:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="project.Lead.Username" 
							id="search-project-by-leader" 
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Labels:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="project.Labels.Name" 
							id="search-project-by-labels"  
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Priorities:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="project.Priorities.Name" 
							id="search-project-by-priorities"  
							class="form-control">
					</div>
				</div>
			</div>
		</div>
		<!--end projects filters-->
		<!-- all projects view selected by filters withouth pagination-->
		<div ng-show="projects.length>10&&project.Name||project.Lead.Username||project.Labels.Name||project.Priorities.Name">
			<table class="table table-hover table-bordered">
				<thead>
					  <tr>
							<th width="7%">Details</th>
							<th width="15%">Name</th>
							<th width="28%">Description</th>
							<th width="20%">Leader</th>
							<th width="15%">Labels</th>
							<th width="15%">Priorities</th>
					  </tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projects | orderBy: 'Name' |
						filter: project.Name | filter: project.Lead.Username |
						filter: project.Labels.Name | filter: project.Priorities.Name">
							<td width="7%">
								<a href="#/projects/{{project.Id}}" class="blue">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</a>
							</td>
							<td width="15%">
								<a href="#/projects/{{project.Id}}">{{project.Name}}</a>
							</td>
							<td width="28%">{{project.Description}}</td>
							<td width="20%">
								<a href="#/admin/users/{{project.Lead.Username}}/info">{{project.Lead.Username}}</a>
							</td>
							<td width="15%">
								<p>Count: {{project.Labels.length}}</p>
								<div class="inner-addon left-addon">
									<i class="fa fa-tags" aria-hidden="true"></i>
									<select class="style-select">
										<option></option>
										<option ng-repeat="label in project.Labels">{{label.Name}}</option>
									</select>
								</div>
							</td>
							<td width="15%">
								<p>Count: {{project.Priorities.length}}</p>
								<div class="inner-addon left-addon">
									<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
									<select class="style-select">
										<option></option>
										<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
									</select>
								</div>
							</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--end filtered projects view-->
		
		<!--all projects view with pagination withouth filters-->
		<div ng-show="projects.length&&!project.Name&&!project.Lead.Username&&!project.Labels.Name&&!project.Priorities.Name">
			<!--pagination div-->
			<div class="col-md-12">
				<div class="col-md-4 col-md-offset-4 text-center" id="projectsPagination">
					<span>
						<button ng-show="curPage > 1" ng-click="getAllProjects(3, curPage-1)">
							<i class="fa fa-angle-double-left" aria-hidden="true"></i>
						</button>
					</span>
					<span>Page {{curPage}} of {{ numberOfPages() }}</span>
					<span>
						<button ng-show="curPage < numberOfPages()" ng-click="getAllProjects(3, curPage+1)">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div >
			<!--end pagination div-->
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="7%">Details</th>
						<th width="15%">Name</th>
						<th width="28%">Description</th>
						<th width="20%">Leader</th>
						<th width="15%">Labels</th>
						<th width="15%">Priorities</th>
					 </tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projects | orderBy: 'Name'">
						<td width="7%">
							<a href="#/projects/{{project.Id}}" class="blue">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</a>
						</td>
						<td width="15%">
							<a href="#/projects/{{project.Id}}">{{project.Name}}</a>
						</td>
						<td width="28%">{{project.Description}}</td>
						<td width="20%">
							<a href="#/admin/users/{{project.Lead.Username}}/info">{{project.Lead.Username}}</a>
						</td>
						<td width="15%">
							<p>Count: {{project.Labels.length}}</p>
							<div class="inner-addon left-addon">
								<i class="fa fa-tags" aria-hidden="true"></i>
								<select class="style-select">
									<option></option>
									<option ng-repeat="label in project.Labels">{{label.Name}}</option>
								</select>
							</div>
						</td>
						<td width="15%">
							<p>Count: {{project.Priorities.length}}</p>
							<div class="inner-addon left-addon">
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
								<select class="style-select">
									<option></option>
									<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
								</select>
							</div>
						</td>
					 </tr>
				</tbody>
			</table>
		</div>
		<!--end all projects view with pagination withouth filters-->
	</div>
</div>