<!--error message-->
<div class="row text-center" 
	ng-if="!isAdmin() && !isLeader" ng-include="'app/common/partial/add-issue-in-project-warning-msg.html'">
</div>
<!--end error message-->
<!--edit project form-->
<div class="row" ng-if="isAdmin()|| isLeader">
	<div class="col-md-6 col-md-offset-3">
		<h2>Edit Project</h2>
		<form name="editProjectForm">
			<div class="form-group">
				<label for="editedProjectName">Project Name<span class="important">*</span></label>
				<input type="text" ng-model="editedProject.Name" 
					id="editedProjectName" 
					name="editedProjectName"
					required="required"
					ng-minlength="3"
					ng-maxlength="50"
					placeholder="[Min-length: 3] [Max-length: 50]"
					class="form-control"/>
				<p class="important" ng-show="editProjectForm.editedProjectName.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Project Name is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="editProjectForm.editedProjectName.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedProjectName.$error.maxlength">
						<small>[Max-length: 50 simbols]</small>
					</span>
				</div>
			</div>
			<!--get users to make a Leader-->
			<div ng-if="isAdmin()">
			<div class="form-group">
				<h3>Change Leader:</h3>
				<p class="important">Curent leader is: <strong>{{project.Lead.Username}}</strong></p>
				<label for="searchLeader">Search user by filter: "Username"<span class="important">*</span>:</label>
				<div class="inner-addon left-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="text" ng-model="user.Username" id="searchLeader" name="searchLeader" class="form-control">
				</div>
			</div>
			<div class="col-md-12">
				<button class="btn btn-success" 
					ng-disabled="editProjectForm.searchLeader" 
					ng-click="getAllUsers()">
					Get Users By Filter
				</button>
			</div>
			<div class="form-group">
				<label for="editedLeader">Select Leader</label>
				<p>To change the leader Get Users By Filter: Username:</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<select ng-model="editedProject.LeadId" id="editedLeader" name="editedLeadId" class="form-control">
						<option  ng-repeat="user in users | orderBy: 'Username' | filter: user.Username" value="{{user.Id}}">
							{{user.Username}}
						</option>
					</select>
				</div>
			</div>
			</div>
			<!--end-->
			<div class="form-group">
				<label for="editedDescription">Description<span class="important">*</span></label>
				<textarea type="text" ng-model="editedProject.Description" rows="5"
					id="description"
					name="editedDescription"
					required="required"
					ng-minlength="3"
					ng-maxlength="1000"
					placeholder="[Min-length: 3] [Max-length: 100]"
					class="form-control"></textarea>
				<p class="important" ng-show="editProjectForm.editedDescription.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Description is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="editProjectForm.editedDescription.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedDescription.$error.maxlength">
						<small>[Max-length: 1000 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="editedPriorities">Priorities <span class="important">*</span></label>
				<p>Add new priorities separated by a dot-comma and an white-space:</p>
				<p class="important">[priority1; priority2; ...]</p>
				<input type="text" ng-model="editedProject.Priorities" 
					id="editedPriorities "
					name="editedPriorities"
					required="required"
					ng-minlength="3"
					ng-maxlength="100"
					placeholder="[Min-length: 3] [Max-length: 100]"
					class="form-control"/>
				<p class="important" ng-show="editProjectForm.editedPriorities.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Priorities is required!</small>
				</p>
				<div role="alert">
					<span class="important" ng-show="editProjectForm.editedPriorities.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
					<span class="error" ng-show="editProjectForm.editedPriorities.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<!--Labels-->
				<h3>Labels</h3>
			<div class="form-group">
				<label for="newLabels">Edit Labels</label>
				<p>Add new labels separated by a dot-comma:</p>
				<p class="important">[label1; label2;...]</p>
				<div class="inner-addon left-addon">
					<i class="fa fa-tags" aria-hidden="true"></i>
					<input type="text" ng-model="editedProject.Labels" 
						id="newLabels"
						name="newLabels"					
						ng-minlength="3"
						placeholder="[Min-length: 3]"
						class="form-control"/>
				</div>
				<div role="alert">
					<span class="important" ng-show="editProjectForm.editedLabels.$error.minlength">
						<small>[Min-length: 3 simbols]</small>
					</span>
				</div>
			</div>
			<!--end labels-->
			<button type="submit" class="btn btn-success" 
				ng-disabled="editProjectForm.$invalid" 
				ng-click="editProject(editedProject)">
					Edit Project
			</button>
		</form>
	</div>
</div>