<!--projects-->
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-success" ng-click="getProjects()">Get All Projects</button>
		<h2>All Projects Total Count: <span class="blue">{{totalCount}}</span></h2>
		<p class="text-center"><a href="#/projects/add">Add New Project</a></p>
		<div id="projects-filters">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Project Name:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Name" id="search-project-by-name" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Leader Username:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Lead.Username" id="search-project-by-leader" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Labels:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Labels.Name" 
							id="search-project-by-labels"  
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-user">Search project by Priorities:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="text" ng-model="project.Priorities.Name" 
							id="search-project-by-priorities"  
							class="form-control">
					</div>
				</div>
			</div>
		</div>
		<!--Pagination div-->
		<div class="col-md-12">
				<div class="col-md-2 col-md-offset-5 text-center" id="projectsPagination" ng-show="projects.length">
					<div>
						<button ng-disabled="curPage == 0" ng-click="curPage=curPage-1">
							<i class="fa fa-angle-double-left" aria-hidden="true"></i>
						</button>
					</div>
					<div>
						<span>Page {{curPage+1}} of {{ numberOfPages() }}</span>
					</div>
					<div>
						<button ng-disabled="curPage >= projects.length/pageSize - 1" ng-click="curPage = curPage + 1">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</button>
					</div>
				</div>
		</div>
		<!--end pagination-->
		<table class="table table-hover table-bordered project-table">
			<thead>
			  <tr>
				<th>Details</th>
				<th>Name</th>
				<th>Description</th>
				<th>Leader</th>
				<th>Labels</th>
				<th>Priorities</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="project in projects | pagination: curPage * pageSize |
				limitTo: pageSize | orderBy: 'Lead.Username' |
				filter:project.Name | filter:project.Lead.Username |
				filter:project.Labels.Name | filter:project.Priorities.Name">
				<td><a href="#/projects/{{project.Id}}" class="red"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
				<td><a href="#/projects/{{project.Id}}">{{project.Name}}</a></td>
				<td>{{project.Description}}</td>
				<td><a href="#/admin/users/{{project.Lead.Username}}/info">{{project.Lead.Username}}</a></td>
				<td>
					<div class="inner-addon left-addon">
						<i class="fa fa-tags" aria-hidden="true"></i>
						<select class="style-select">
							<option></option>
							<option ng-repeat="label in project.Labels">{{label.Name}}</option>
						</select>
					</div>
				</td>
				<td>
					<div class="inner-addon left-addon">
						<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						<select class="style-select">
							<option></option>
							<option ng-repeat="priority in project.Priorities">{{priority.Name}}</option>
						</select>
					</div>
				</td>
			  </tr>
			</tbody>
	  </table>
	</div>
</div>