<!-- Add video form -->
	<h3 class="col-md-offset-5">Add new video:</h3>
    <form name="inputVideoForm" class="form-group">
        <div class="form-group col-md-3">
            <label for="newVideoTitle" class="control-label">Title*</label>
            <input type="text" required class="form-control"
                ng-model="videos.newTitle"
                id="newVideoTitle" name="videoTitle" 
				placeholder="New Video Title">
            <p class="error" ng-show="inputVideoForm.videoTitle.$error.required">
                <small><i class="fa fa-exclamation-triangle"></i> Required</small>
            </p>
        </div>
        <div class="form-group col-md-3 ">
            <label for="pictureUrl" class="control-label">Picture-url*</label>
            <input type="url" required class="form-control"
                ng-model="videos.newPictureUrl"
                ng-pattern="/(https?:\/\/.*\.(?:png|gif|jpg|jpeg))/i"
                id="pictureUrl" name="pictureUrl"
                placeholder="http(s)://...(png|gif|jpg|jpeg)">
		    <p class="error" ng-show="inputVideoForm.pictureUrl.$error.required">
                <small><i class="fa fa-exclamation-triangle"></i> Required</small>
            </p>
            <p class="error" ng-show="inputVideoForm.pictureUrl.$invalid && inputVideoForm.pictureUrl.$dirty">
                <small><i class="fa fa-exclamation-triangle"></i> 
					Invalid URL. Pattern: http(s)://.some text.(png | gif| jpg | jpeg).
				</small>
            </p>
        </div>
        <div class="form-group col-md-3">
            <label for="category" class="control-label">Category*</label>
            <input type="text" required class="form-control"
                ng-model="videos.newCategory"
                id="category" name="category"
                placeholder="Category">
            <p class="error" ng-show="inputVideoForm.category.$error.required">
                <small><i class="fa fa-exclamation-triangle"></i> Required</small>
            </p>
        </div>
        <div class="form-group col-md-3">
            <label for="length" class="control-label">Length</label>
            <input type="text" class="form-control"
                ng-model="videos.newLength"
                id="length" name="length"
                placeholder="0:00">
        </div>
        <div class="checkbox col-md-12">
            <label for="haveSubtitles" class="control-label">
				<input type="checkbox" id="haveSubtitles" value="true"
                    ng-true-value="true"
                    ng-false-value="false"
                    ng-model="videos.haveSubtitles">
                        HaveSubtitles
            </label>
        </div>
        <button type="submit" ng-disabled="inputVideoForm.$invalid"
            ng-click="addVideo(videos)"
            class="btn btn-default col-md-2">
                <i class="fa fa-cog fa-spin"></i> Add video
        </button>
	</form>