<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="issueTrackingSystemApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="issueTrackingSystemApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="issueTrackingSystemApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="issueTrackingSystemApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Issue Tracking System</title>
	<meta name="description" content="Issue Tracking System">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href='app/bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
	<link rel="stylesheet" href="app/bower_components/jquery-ui/themes/sunny/jquery-ui.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="app/app.css">
</head>
<body ng-controller="MainController">
	<!--notifications-->
	<div ng-if="isError()" ng-include="'app/common/partial/errorMsg.html'">&nbsp;</div>
	<div ng-if="isSuccess()" ng-include="'app/common/partial/successMsg.html'">&nbsp;</div>
	<!--end notifications-->
	<!--loading bar-->
	<div id="loading-bar-container" class="row text-center"></div>
	<!--end loading bar-->
	<!--navbar-->
	<div class="navbar navbar-default navbar-fixed-top" ng-include="'app/common/partial/navbar.html'">&nbsp;</div>
	<!--end navbar-->
	<!--main-->
	<div class="container">
		<div ng-view>&nbsp;</div>
	</div>
	<div id="footer" ng-include="'app/common/partial/footer.html'">&nbsp;</div>
<!--end main-->

	<script src="app/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="app/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="app/bower_components/angular/angular.js"></script>
	<script src="app/bower_components/angular-route/angular-route.js"></script>
	<script src="app/bower_components/ngstorage/ngStorage.js"></script>
	<script src='app/bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
  
	<script src="app/app.js"></script>
  
	<script src="app/common/mainController.js"></script>
	<script src="app/common/notificationServices.js"></script>
	<script src="app/common/projectsAndIssuesHelpers.js"></script>
	<script src="app/common/directives/datepickerDirective.js"></script>
	<script src="app/common/directives/dialogModalDirective.js"></script>
	<script src="app/common/directives/hideModalDirective.js"></script>
	<script src="app/common/directives/popoverDirective.js"></script>
	<script src="app/common/directives/collapseDirective.js"></script>
	<script src="app/common/directives/clearInputValueDirective.js"></script>
	<script src="app/common/directives/hideElementDirective.js"></script>
	<script src="app/common/filters/paginationFilter.js"></script>
  
	<script src="app/home/homeController.js"></script>
  
	<script src="app/users/usersController.js"></script>
	<script src="app/users/userIdentityServices.js"></script>
	<script src="app/users/authenticationServices.js"></script>
	<script src="app/users/profileSettingsServices.js"></script>
  
	<script src="app/projects/projectsController.js"></script>
	<script src="app/projects/projectServices.js"></script>
  
	<script src="app/issues/issuesController.js"></script>
	<script src="app/issues/issueServices.js"></script>
  
	<script src="app/labels/labelServices.js"></script>
  
	<script src="app/admin/adminController.js"></script>
	<script src="app/admin/adminServices.js"></script>
</body>
</html>
