<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<h2>Change My Password</h2>
		<form name="changePasswordUserForm">
			<div class="form-group">
				<label for="old-pass">Old Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.oldPassword" 
					id="old-pass" 
					name="oldPassword"
					required="required"
					placeholder="Enter old password"
					class="form-control"/>
				<p class="red" ng-show="changePasswordUserForm.oldPassword.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> Old password is required!</small>
				</p>
			</div>
			<div class="form-group">
				<label for="new-pass">New Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.newPassword" 
					id="new-pass" 
					name="newPassword"
					required="required"
					ng-minlength="6"
					ng-maxlength="100"
					placeholder="[Min-length: 6] [Max-length: 100]"
					class="form-control"/>
				<p class="red" ng-show="changePasswordUserForm.newPassword.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i> New password is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="changePasswordUserForm.newPassword.$error.minlength">
						<small>[Min-length: 6 simbols]</small>
					</span>
					<span class="error" ng-show="changePasswordUserForm.newPassword.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="confirm-pass">Confirm New Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.confirmPassword" 
					id="confirm-pass"
					name="confirmPassword"					
					required="required"
					ng-minlength="6"
					ng-maxlength="100"				
					class="form-control"/>
				<p class="red" ng-show="changePasswordUserForm.confirmPassword.$error.required">
					<small><i class="fa fa-exclamation-triangle"></i>Confirm new password is required!</small>
				</p>
				<div role="alert">
					<span class="red" ng-show="changePasswordUserForm.confirmPassword.$error.minlength">
						<small>[Min-length: 6 simbols]</small>
					</span>
					<span class="error" ng-show="changePasswordUserForm.confirmPassword.$error.maxlength">
						<small>[Max-length: 100 simbols]</small>
					</span>
				</div>
			</div>
			<button type="submit" class="btn btn-success" 
				ng-disabled="changePasswordUserForm.$invalid || changePasswordUser.newPassword != changePasswordUser.confirmPassword" 
				ng-click="changePassword(changePasswordUser)">
					Change Password
			</button>
		</form>
	</div>
</div>