<!--dashboard-->
	<div class="col-md-12">
		<h2>My Projects: <span class="blue">{{myProjectsCount}}</span></h2>
		<button class="btn btn-success" ng-click="getMyProjects()">Get My Projects</button>
		<div class="col-md-10 col-md-offset-1">
			<!--filter div-->
			<div class="col-md-4 form-group" ng-show="myProjects.length">
				<label for="search-project-by-name">Search project by Name:</label>
				<div class="inner-addon left-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="search" ng-model="project.Name" id="search-project-by-name" class="form-control">
				</div>
			</div>
			<!--end filter div-->
			<!--all projects view withouth pagination with filter-->
			<div class="col-md-8 text-center" ng-show="myProjects.length&&project.Name">
				<p id="myProjects" ng-repeat="project in myProjects | filter:project.Name">
						<a href="#/projects/{{project.Id}}">{{project.Name}}</a>
				</p>
			</div>
			<!--end all projects view withouth pagination with filter-->
			
			<!--all my projects view with pagination withouth filter-->
			<div class="col-md-8 text-center" ng-show="myProjects.length&&!project.Name">
				<!--Pagination div-->
				<div class="col-md-12">
					<div class="col-md-4 col-md-offset-4 text-center" id="projectsPagination">
						<div>
							<button ng-disabled="curPage == 0" ng-click="curPage=curPage-1">
								<i class="fa fa-angle-double-left" aria-hidden="true"></i>
							</button>
						</div>
						<div>
							<span>Page {{curPage+1}} of {{ numberOfPages() }}</span>
						</div>
						<div>
							<button ng-disabled="curPage >= myProjects.length/pageSize - 1" ng-click="curPage = curPage + 1">
								<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<!--end pagination-->
				<p id="myProjects" ng-repeat="project in myProjects | pagination: curPage * pageSize | limitTo: pageSize">
					<a href="#/projects/{{project.Id}}">{{project.Name}}</a>
				</p>
			</div>
			<!--end all my projects view with pagination withouth filter-->
			
		</div>
	</div>
	<div class="col-md-12">
		<h2>My Issues: <span class="blue">{{myIssuesCount}}</span></h2>
		<div id="my-issues-filters">
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-issue-by-title">Search issue by Title:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="issue.Title" id="search-issue-by-title" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-issue-by-project">Search issue by Project:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="issue.Project" id="search-issue-by-project" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="search-issue-by-date">Search issue by Due Date:</label>
					<div class="inner-addon left-addon">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search" ng-model="issue.DueDate" 
							id="search-issue-by-date" 
							placeholder="yyyy-MM-ddThh-mm-ss" 
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<button class="btn btn-success" ng-click="getMyIssues()">Get My Issues</button>
			</div>
		</div>
		<table class="table table-hover table-bordered">
			<thead>
			  <tr>
				<th width="22%">Title</th>
				<th width="28%">Description</th>
				<th width="15%">Project</th>
				<th width="15%">Due date</th>
				<th width="10%">Status</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="issue in issues | filter:issue.Title | filter: issue.Project | filter:issue.DueDate">
				<td width="22%"><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
				<td width="28%">{{issue.Description}}</td>
				<td ng-if="isAdmin()" width="15%"><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
				<td ng-if="!isAdmin()" width="15%">{{issue.Project.Name}}</td>
				<td width="15%">{{issue.DueDate}}</td>
				<td width="10%">{{issue.Status.Name}}</td>
			  </tr>
			</tbody>
	    </table>
	 </div>