<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<h2>Change Password</h2>
		<form name="changePasswordUserForm">
			<div class="form-group">
				<label for="old-pass">Old Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.oldPassword" 
					id="old-pass" 
					required="required"
					min-length="6"
					max-length="100"
					placeholder="[Min-length: 6] [Max-length: 100]"
					class="form-control"/>
			</div>
			<div class="form-group">
				<label for="new-pass">New Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.newPassword" 
					id="new-pass" 
					required="required"
					min-length="6"
					max-length="100"
					placeholder="[Min-length: 6] [Max-length: 100]"
					class="form-control"/>
			</div>
			<div class="form-group">
				<label for="confirm-pass">Confirm New Password<span class="red">*</span></label>
				<input type="password" ng-model="changePasswordUser.confirmPassword" 
					id="confirm-pass" 
					required="required"
					min-length="6"
					max-length="100"				
					class="form-control"/>
			</div>
			<button type="submit" class="btn btn-success" 
				ng-disabled="changePasswordUserForm.$invalid || changePasswordUser.newPassword != changePasswordUser.confirmPassword" 
				ng-click="changePassword(changePasswordUser)">
					Change Password
			</button>
		</form>
	</div>
</div>